In [2]:
p_sara = [0,0,0,0,1.5,0.5,0,0]
p_sean = [0,0.3333,0,0,0,0,0,0]

Clare =	[0.0, 0.0, 0.0,	3.0, 0.0, 0.0, 1.0,	3.0]
Jane = [0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 0.0]
John = [6.0,	0.0, 6.0, 0.0, 0.0, 0.0, 0.0, 0.0]
Mona = [0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 0.0]

In [3]:
def manhattan_d(p, q):
    if len(p) == len(q):
        result = 0
        for i in range(len(p)):
            current_result = abs(p[i] - q[i])
            result += current_result
    else:
        result = "ERROR"
    return result

In [11]:
print(manhattan_d(p_sara, p_sean))

print(1/manhattan_d(Clare, Jane))

print(1/manhattan_d(Clare, John))

print(manhattan_d(Jane, Mona))

2.3333
0.1111111111111111
0.05263157894736842
0.0